.services-container {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9; /* Light background color */
}

.services-container h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 70px;
    text-align: center;
}

.services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.service-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
}

.service-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.service-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.service-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.learn-more {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.learn-more:hover {
    background-color: #218838;
}
